.App{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: blue;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: double #1af1df;
    border-radius: 20px;
}
.container .cabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #FFFFFF;
}
.container .cabecalho h1{
    margin: 0;
}
.container .dados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 200px;
}
.container .dados .valor{
    width: 90%;
    background-color: whitesmoke;
    border: inset whitesmoke 3px;
    border-radius: 3px;
}

.container .dados .valores{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .dados div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.container .dados span{
    display: flex;
    align-items: center;
}
.container .rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}